## Assignment

## Ex1 Use data from Danmarks Statistik - Databanken
1. Go to https://www.dst.dk/da/Statistik/brug-statistikken/muligheder-i-statistikbanken/api#testkonsol
2. Open 'Konsol' and click 'Start Konsol'
3. In the console at pt 1: choose 'Retrieve tables', pt 2: choose get request and json format and pt 3: execute:
  1. check the result
  2. in the code below this same get request is used to get information about all available data tables in 'databanken'. 
4. Change pt. 1 in the console to 'Retrieve data', pt 2: 'get request' and Table id: 'FOLK1A', format: csv, delimiter: semicolon and click: 'Variable and value codes' and choose some sub categories (Hint: hover over the codes to see their meaning). Finally execute and see what data you get.
5. With data aggregation and data visualization answer the following questions:
  1. What is the change in pct of divorced danes from 2008 to 2020?
  2. Which of the 5 biggest cities has the highest percentage of 'Never Married' in 2020?
  3. Show a bar chart of changes in marrital status in Copenhagen from 2008 till now
  4. Show 2 plots in same figure: 'Married' and 'Never Married' for all ages in DK in 2020 (Hint: x axis is age from 0-125, y axis is how many people in the 2 categories). Add lengend to show names on graphs
  
## Ex2 Use another table (extra)
Choose any of the other tables in 'databanken' to find interesting data.
1. Collect the data
2. Pose 5 or more interesing questions to the data
3. Answer the questions by aggregating the data
4. Illustrate the answers with visual plots

## Status

Jeg har lavet hvad jeg kunne, har fået en masse irriterende fejl, som jeg ikke har kunnet fikse - f.eks. får jeg NaN hele tiden i mine dataframes og føler jeg har prøvet alt efterhånden. 

Har lavet A, men B og C har fejl og mangler, som jeg ikke har kunnet fikse. asd asd

## Solution

In [1]:
import numpy as np
import pandas as pd
url = 'https://api.statbank.dk/v1/data/Folk1a/CSV?valuePresentation=Value&delimiter=Semicolon&CIVILSTAND=F&Tid=*'
df = pd.read_csv(url, sep=';')

df

   CIVILSTAND     TID  INDHOLD
0    Fraskilt  2008K1   428864
1    Fraskilt  2008K2   431550
2    Fraskilt  2008K3   432713
3    Fraskilt  2008K4   432156
4    Fraskilt  2009K1   434233
5    Fraskilt  2009K2   437466
6    Fraskilt  2009K3   439378
7    Fraskilt  2009K4   439428
8    Fraskilt  2010K1   441913
9    Fraskilt  2010K2   444765
10   Fraskilt  2010K3   446333
11   Fraskilt  2010K4   447258
12   Fraskilt  2011K1   449609
13   Fraskilt  2011K2   453640
14   Fraskilt  2011K3   455105
15   Fraskilt  2011K4   455846
16   Fraskilt  2012K1   458430
17   Fraskilt  2012K2   462738
18   Fraskilt  2012K3   465210
19   Fraskilt  2012K4   466356
20   Fraskilt  2013K1   468891
21   Fraskilt  2013K2   473292
22   Fraskilt  2013K3   476507
23   Fraskilt  2013K4   477056
24   Fraskilt  2014K1   486336
25   Fraskilt  2014K2   492909
26   Fraskilt  2014K3   497069
27   Fraskilt  2014K4   500795
28   Fraskilt  2015K1   504505
29   Fraskilt  2015K2   506621
30   Fraskilt  2015K3   509922
31   Fraskilt  2015K4   513060
32   Fraskilt  2016K1   516864
33   Fraskilt  2016K2   520775
34   Fraskilt  2016K3   525180
35   Fraskilt  2016K4   526340
36   Fraskilt  2017K1   529457
37   Fraskilt  2017K2   533905
38   Fraskilt  2017K3   534656
39   Fraskilt  2017K4   535372
40   Fraskilt  2018K1   537834
41   Fraskilt  2018K2   541010
42   Fraskilt  2018K3   541999
43   Fraskilt  2018K4   542280
44   Fraskilt  2019K1   545085
45   Fraskilt  2019K2   545597
46   Fraskilt  2019K3   544731
47   Fraskilt  2019K4   543846
48   Fraskilt  2020K1   544588
49   Fraskilt  2020K2   548229
50   Fraskilt  2020K3   550715
51   Fraskilt  2020K4   552419
52   Fraskilt  2021K1   555102

In [2]:
#percentchange = (df['INDHOLD'] / df['INDHOLD'].sum()) * 100 #Denne viser procentfordelingen i stedet
antal_mask = df['INDHOLD']
#percentchange
antal_mask.pct_change().sum() * 100

25.901021353966193

In [3]:
url = 'https://api.statbank.dk/v1/data/FOLK1A/CSV?valuePresentation=Value&delimiter=Semicolon&CIVILSTAND=TOT%2CU&Tid=2020K4&OMR%C3%85DE=084%2C085%2C082%2C083%2C081'
df = pd.read_csv(url, sep=';')
df

  CIVILSTAND     TID              OMRÅDE  INDHOLD
0      I alt  2020K4  Region Hovedstaden  1854296
1      I alt  2020K4     Region Sjælland   838129
2      I alt  2020K4  Region Midtjylland  1330866
3      I alt  2020K4   Region Syddanmark  1223183
4      I alt  2020K4  Region Nordjylland   590739
5      Ugift  2020K4  Region Hovedstaden   981652
6      Ugift  2020K4     Region Sjælland   369548
7      Ugift  2020K4  Region Midtjylland   657563
8      Ugift  2020K4   Region Syddanmark   568943
9      Ugift  2020K4  Region Nordjylland   281410

In [4]:
# df1 = df.sort_values(by=['OMRÅDE'], ascending=True)
mask_unmarried = df['CIVILSTAND'].isin(['Ugift'])
mask_total = df['CIVILSTAND'].isin(['I alt'])
index_mask = pd.unique(df['OMRÅDE'])
data_chart = pd.DataFrame({'I alt': df[mask_total].iloc[:,-1], 'Ugift': df[mask_unmarried].iloc[:,-1]}, index = index_mask)

data_chart
#df[mask_total]

                    I alt  Ugift
Region Hovedstaden    NaN    NaN
Region Sjælland       NaN    NaN
Region Midtjylland    NaN    NaN
Region Syddanmark     NaN    NaN
Region Nordjylland    NaN    NaN

In [5]:
url = 'https://api.statbank.dk/v1/data/FOLK1A/CSV?delimiter=Semicolon&CIVILSTAND=U%2CG%2CE%2CF&Tid=2008K1%2C2009K1%2C2010K1%2C2011K1%2C2012K1%2C2013K1%2C2014K1%2C2015K1%2C2016K1%2C2017K1%2C2018K1%2C2019K1%2C2020K1%2C2021K1'
df = pd.read_csv(url, sep=';')
df

        CIVILSTAND     TID  INDHOLD
0            Ugift  2008K1  2552700
1            Ugift  2009K1  2575185
2            Ugift  2010K1  2593172
3            Ugift  2011K1  2616048
4            Ugift  2012K1  2639530
5            Ugift  2013K1  2662659
6            Ugift  2014K1  2687098
7            Ugift  2015K1  2714540
8            Ugift  2016K1  2753160
9            Ugift  2017K1  2785800
10           Ugift  2018K1  2811181
11           Ugift  2019K1  2830166
12           Ugift  2020K1  2844060
13           Ugift  2021K1  2861497
14  Gift/separeret  2008K1  2176977
15  Gift/separeret  2009K1  2188259
16  Gift/separeret  2010K1  2189368
17  Gift/separeret  2011K1  2187702
18  Gift/separeret  2012K1  2178131
19  Gift/separeret  2013K1  2169369
20  Gift/separeret  2014K1  2154621
21  Gift/separeret  2015K1  2143625
22  Gift/separeret  2016K1  2142540
23  Gift/separeret  2017K1  2140830
24  Gift/separeret  2018K1  2141429
25  Gift/separeret  2019K1  2141704
26  Gift/separeret  2020K1  2146017
27  Gift/separeret  2021K1  2136102
28   Enke/enkemand  2008K1   317250
29   Enke/enkemand  2009K1   313774
30   Enke/enkemand  2010K1   310285
31   Enke/enkemand  2011K1   307269
32   Enke/enkemand  2012K1   304425
33   Enke/enkemand  2013K1   301709
34   Enke/enkemand  2014K1   299180
35   Enke/enkemand  2015K1   297045
36   Enke/enkemand  2016K1   294687
37   Enke/enkemand  2017K1   292682
38   Enke/enkemand  2018K1   290746
39   Enke/enkemand  2019K1   289126
40   Enke/enkemand  2020K1   288098
41   Enke/enkemand  2021K1   287344
42        Fraskilt  2008K1   428864
43        Fraskilt  2009K1   434233
44        Fraskilt  2010K1   441913
45        Fraskilt  2011K1   449609
46        Fraskilt  2012K1   458430
47        Fraskilt  2013K1   468891
48        Fraskilt  2014K1   486336
49        Fraskilt  2015K1   504505
50        Fraskilt  2016K1   516864
51        Fraskilt  2017K1   529457
52        Fraskilt  2018K1   537834
53        Fraskilt  2019K1   545085
54        Fraskilt  2020K1   544588
55        Fraskilt  2021K1   555102

In [6]:
import matplotlib.pyplot as plt
#mask_ugift = df['CIVILSTAND'].isin(['Ugift'])
#mask_gift = df['CIVILSTAND'].isin(['Gift/separeret'])
#mask_enke = df['CIVILSTAND'].isin(['Enke/enkemand'])
#mask_fraskilt = df['CIVILSTAND'].isin(['Fraskilt'])

#data_chart1 = pd.DataFrame({'CIVILSTAND': df['CIVILSTAND'], 'ANTAL': df['INDHOLD'], 'ÅR': df['TID']})
data_chart2 = data_chart1.sort_values(by=['ÅR'], ascending=True)
#data_chart1
data_chart2

NameError: name 'data_chart1' is not defined

In [ ]:
#Kan ikke få noget til at virke som jeg gerne vil have det
#mask = data_chart1['ÅR']
plt.title('Antal mennesker i hver kategori fra 2008-2020')
plt.ylabel('Antal')
#data_chart1.plot.bar(rot=0)
plt.bar(data_chart2['ÅR'], data_chart1['ANTAL'], width=0.5, align=('center'))
#plt.bar(data_chart2['ÅR'], data_chart2['ANTAL'], width=0.5, align=('center'))
plt.xticks(rotation=45, horizontalalignment='right', fontweight='light')

In [ ]:
data_chart2['CIVILSTAND']